<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="WcfService2.JobService">
        <endpoint address="JobService" binding="basicHttpBinding" contract="ServiceReference2.IJobService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>

<!--<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IJobService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58201/JobService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IJobService" contract="ServiceReference1.IJobService"
        name="BasicHttpBinding_IJobService" />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>
  </system.serviceModel>
</configuration>-->